<div class="big-spacer"></div>

<div class = "container">
  <div class = "row">
    <div class="col-md-5 well">
        <h2><%= @item.name%></h2>
        <h4><%= @item.description %></h4>
        <div class="big-spacer"></div>
        <br>
        <div class = "row">
          <div class="col-md-12">
            <div class="col-md-6">
              <%= button_to "Add #{@item.name}" , cart_items_path(item_id: @item.id, category_id: @item.category.id), class: "btn btn-primary" %>
            </div>
            <div class="col-md-6">
              <h2><%= number_to_currency(@item.price) %></h2>
            </div>
          </div>
        </div>
        <div class="big-spacer"></div>
        <br>
        <%= link_to categories_path, class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-home"> Back to Home</span>
        <% end %>
        <%= link_to "#{@item.category.name}", @item.category, class: "btn
        btn-primary" %>
    </div>

    <div class = "col-md-7">
        <img class="img-responsive" src=<%= @item.image_url %> alt="">
    </div>

  </div>
</div>
